@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Nunito+Sans:wght@200;300&family=Work+Sans:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(https://www.thegef.org/sites/default/files/styles/banner_image/public/2022-03/globalcommons-1440x655.jpg?h=4e9a1ef8&itok=gTdVDRbr);
  background-size: cover;
  font-family: "Work Sans", sans-serif;
}

.container {
  padding: 1.5rem 2rem;
  display: grid;
  grid-auto-flow: row;
  border-radius: 10px;
  gap: 1rem;
  width: 250px;
  text-align: center;
  color: white;
  width: 260px;
  background-color: #000000a0;
}
.container-sunny {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://media.istockphoto.com/photos/blue-sky-with-bright-sun-and-clouds-picture-id1007768414?b=1&k=20&m=1007768414&s=170667a&w=0&h=9ijRGKZYLQJz5GO0ZwisNhraxPRY3wUFWe2wjCfS-Uc=);
  background-size: cover;
}
.container-cloudy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAGJ9mcdDyFGcLg4K9GoxIKyt1s52wVRaRqQcknd5wtz91Y3_bM4fjt41ujizfMhJAELY&usqp=CAU);
  background-size: cover;
}
.container-partly-cloudy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://wallpaperaccess.com/full/1249894.jpg);
  background-size: cover;
}
.container-clear {
  background-image: url(https://images.unsplash.com/photo-1435224654926-ecc9f7fa028c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmlnaHQlMjBza3l8ZW58MHx8MHx8&w=1000&q=80);
  background-size: cover;
}
.container-rainy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(https://wallpaperaccess.com/full/7983539.jpg);
  background-size: cover;
}
.container-fog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://transcode-v2.app.engoo.com/image/fetch/f_auto,c_lfill,h_128,dpr_3/https://assets.app.engoo.com/images/0lm2FoUmWgccwNPBSYz84u.jpeg);
  background-size: cover;
}
.search {
  background-color: rgba(255, 255, 255, 0.646);
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  color: black;
  width: 90%;
  text-decoration: solid;
  text-transform: uppercase;
  font-weight: bolder;
}
.search:hover {
  background-color: rgb(255, 255, 255);
}

.icon {
  width: 90px;
}

.city {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  text-transform: uppercase;
  gap: 0.3rem;
}

.text {
  font-size: 1rem;
  text-transform: uppercase;
  /* margin-left: 20px; */
}

.description {
  border: 3px solid rgba(255, 255, 255, 0.712);
  border-radius: 10px;
  background-color: rgba(143, 143, 143, 0.831);
  padding: 10px 0px;
}

.more-details {
  color: rgba(255, 249, 249, 0.744);
  font-size: 0.9rem;
  border: 1px solid rgba(243, 243, 243, 0.605);
  background-color: rgba(143, 143, 143, 0.293);
  border-radius: 15px;
  padding: 4px 0px;
  /* color: #2c3e50;
  font-weight: 100; */
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.more-details:hover {
  color: white;
  font-weight: border;
}
.details-page {
  background-color: #1c2937e3;
  padding: 1.5rem;
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  border-radius: 20px;
  color: white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.776);
}
.details__city-name {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
.details__country-name {
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
  text-transform: uppercase;
}
.location {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.details__pin-drop {
  font-size: 30px;
}
.details__icon {
  width: 90px;
  border: 1px solid rgba(255, 255, 255, 0.224);
  border-radius: 50%;
  box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.924);
  background-color: rgba(255, 255, 255, 0.224);
}
.weather-info {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  padding: 1rem;
  border-bottom: 1px solid #2c3e502f;
  /* border: 1px solid black; */
}
.icon-temp {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  /* border: 1px solid black; */
}
.weather-description {
  text-align: center;
}
.details__feels-like {
  text-align: center;
  font-weight: 600;
}
.temperatures {
  text-align: center;
  font-weight: 600;
  display: grid;
  gap: 0.3rem;
}
.more-info {
  font-weight: 600;
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  gap: 0.3rem;
}
.main-info {
  display: grid;

  gap: 0.3rem;
}
.daily-forecast {
  border: 1px solid black;
  border-color: rgba(8, 8, 72, 0.629);
  border-radius: 10px;
  background-color: rgba(8, 8, 72, 0.629);
  padding: 0.5rem;
  box-shadow: 3px 3px black;
  width: 360px;
}
.hourly-forecast {
  border: 1px solid black;
  border-color: rgba(8, 8, 72, 0.629);
  border-radius: 10px;
  background-color: rgba(8, 8, 72, 0.629);
  padding: 0.5rem;
  box-shadow: 3px 3px black;
  width: 360px;

  overflow-x: auto;

  scroll-snap-type: x mandatory;
}
.daily-forecast:hover {
  box-shadow: 5px 5px black;
  border-color: rgba(8, 8, 72, 0.629);
  background-color: rgba(7, 7, 99, 0.493);
}
.hourly-forecast:hover {
  box-shadow: 5px 5px black;
  border-color: rgba(8, 8, 72, 0.629);
  background-color: rgba(7, 7, 99, 0.493);
}
.days {
  display: grid;
  grid-auto-flow: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1.5rem;
}
.tomorrow {
  display: grid;
  text-align: center;
  border: 1px solid rgba(25, 31, 95, 0.898);
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  background-color: rgba(25, 31, 95, 0.898);
  padding: 0.5rem;
  font-weight: 600;
  scroll-snap-align: start;
  place-items: center;
}
.weather-description {
  padding-bottom: 0.5rem;
}
.icon-temp {
  place-content: center;
}
.go-back {
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  border: 5px solid rgb(255, 255, 255);
  border-right: none;
  border-top: none;
  border-bottom: none;
}
.go-back:hover {
  color: #5b7187;
}
.sun-rise {
  font-weight: 600;
}

.last-updated {
  padding: 0.5rem;
  margin-top: 0.5rem;
  /* background-image: linear-gradient(rgba(126, 126, 126, 0.555), rgba(5, 5, 85, 0.974)); */
  /* border: 1px solid blue; */
  border-radius: 5px;
  /* text-align: center; */
  font-weight: bold;
  /* text-transform: uppercase; */
}

.daily-button {
  background-color: rgba(255, 255, 255, 0.646);
  border: none;
  padding: 0.3rem 0.5rem;
  margin-bottom: 8px;
  margin-left: 5px;
  border-radius: 15px;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
.hourly-button {
  background-color: rgba(255, 255, 255, 0.646);
  border: none;
  padding: 0.3rem 0.5rem;
  margin-bottom: 8px;
  margin-left: 5px;
  border-radius: 15px;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
/* THE SCROLL BAR */
/* width */
::-webkit-scrollbar {
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(162, 0, 255, 0.2);
  border-radius: 10px;
}

.rollingBox {
  width: 10px;
  height: 10px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  border-radius: 50%;
}

@keyframes example {
  0% {
    background-color: rgb(255, 0, 162);
    left: -50px;
    top: -40px;
  }
  25% {
    background-color: rgb(21, 255, 0);
    left: 240px;
    top: -40px;
  }
  50% {
    background-color: blue;
    left: 240px;
    top: 420px;
  }
  75% {
    background-color: rgb(254, 144, 0);
    left: -50px;
    top: 420px;
  }
  100% {
    background-color: rgb(255, 255, 255);
    left: -50px;
    top: -42px;
  }
}
